/*
// COLOR PALETTES
// Dark blue: 	#00293c
// Blue: #257985
// Light Blue: #5ea8a7
// White: #f0eff0
// Pink: #ff4447
// Gray: #8D9E94
// Smoke white: #F5F5F5
*/

/* IMPORT START */
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@import url('https://fonts.googleapis.com/css?family=Kurale');
/* IMPORT END */

/* BODY START */
body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;

}
/* BODY END */

/* HEADER-FOOTER START */

header {
    font-size: 100px;
    padding: 10px;
}
header, 
footer {
    background-color: #257985;
    text-align: center;
    min-width: 500px;
    color: #f0eff0;
    font-family: 'Lobster', cursive;
}
/* HEADER-FOOTER END */

/* MAIN START */
main {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: repeat(3, 450px);
    grid-gap: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-auto-rows: 500px;
    column: 250px;
    justify-items: center;
    justify-content: center;
    align-items: stretch;
    height: 1600px;
    align-content: center;
  }
/* MAIN END */

/* H2 START */
  h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: left;
    padding: 10px 0px 10px 10px;
    font-family: 'Alegreya SC', serif;
    font-size: 20px;
    letter-spacing: 3px;
  }
/* H2 END */

/* IMAGE START */
.image-holder img {   
    width: 100%;
    height: auto;
}

/* IMAGE END */

/* Paragraph Start */
.description {
    font-family: 'Arima Madurai', cursive;
    letter-spacing: 0.1px;
    text-align: left;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
  }
  
}
/* Paragraph End */

/* CONTAINER START */
.container {
    min-width: 500px;
    margin: auto;
  }
/* CONTAINER END */

/* FOOTER START */
footer {
    font-family: 'Kurale', serif;
    padding: 20px;
    text-transform: uppercase;
}
/* FOOTER END */
  